version: '3.3'
services:
  web:
    build: ./app
    volumes:
      - ./app:/app
    ports:
      - "80:80"
    environment:
      - FLASK_APP=main.py
    depends_on:
      - db
  db:
    build: ./db
    restart: always
    volumes:
      - type: volume
        source: dbvolume
        target: /var/lib/mysql
      - type: volume
        source: dbvolume
        target: /etc/my.cnf
      - "./db/init:/docker-entrypoint-initdb.d"
    environment:
      MYSQL_ROOT_PASSWORD: honya_morake
volumes:
  dbvolume:
